<div class="password-generator">
  <h2>Password Generator</h2>
  <div>
    <label for="password-length">Length:</label>
    <input type="number" id="password-length" [(ngModel)]="length" min="4" max="50">
  </div>
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="includeUppercase"> Include uppercase
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="includeNumbers"> Include numbers
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" [(ngModel)]="includeSymbols"> Include symbols
    </label>
  </div>
  <button (click)="generatePassword()">Generate password</button>
  <div *ngIf="password" class="password-result">
    <h3>Generated password:</h3>
    <p>{{ password }}</p>
  </div>
  <button *ngIf="password" (click)="copyPassword()">Copy to clipboard</button>
</div>
